
.teacher-filter-container{
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
}
.teacher-add-button{
  width: 20%;
  margin: 10px;
  background-color: grey;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.teacher-add-button:hover{
  background-color: lightslategrey;
}
.teacher-badge-container{
  overflow-x: scroll;
  margin-bottom: 10px;
  .teacher-badge{
    margin-right: 5px;
    cursor: pointer;
  }
}